@import './responsive.css';

/* Ensure full-width layout */
body, html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important; /* Prevent scrolling */
  box-sizing: border-box !important;
  font-family: "Inter", sans-serif !important;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Inter", sans-serif !important;
}


.app {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
