@import './responsive.css';

/* Ensure full-width layout */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Apply styles globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.app {
  min-height: 100vh;
  width: 100%;
  background: var(--main-bg-gradient) !important; /* Use global background color */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Ensure Navbar Matches Hero Background */
/*.navbar {
  background: var(--main-bg-gradient) !important; /* Use Hero section gradient
}*/

.nav-links a {
  color: white /*!important*/;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
